.card{
    transition: all .3s;
    background: $white;

    &:hover{
        box-shadow: 0 3px 6px 0 color('grey', 3);
    }

    &__image img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }

    &__details{
        padding: 25px 35px 55px;
    }

    &__body{
        overflow: hidden;
        display: -webkit-box;
        line-height: 25px;
        max-height: 75px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__link{
        color: $black;

        &:after{
            content: '\f054';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            padding-left: 5px;
        }

        &:hover{
            color: $blue; 
        }
    }
}