.section--container, .accordion--container{
    background: $white;
    box-shadow: 0 5px 0px 0px color('grey', 2);
}

.section--container{
    position: relative;
}

.accordion__section{
    position: relative;
}

.section__header{
    padding: 15px 0 0 70px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    @include component_heading;

    h4{
        transform: translateY(-15px);
        width: 100%;
    }

    i{
        font-size: 1.5em;
        padding-right: 20px;
    }
}

.section__body{
    max-height: 0;
    overflow: hidden;
    padding: 0 20px 0 70px;
    transition: max-height .3s linear, padding .3s linear;

    &.open{
        max-height: 400px;
        padding: 0 20px 20px 70px;
    }
}

.collapsible-text__header{
    display: flex;
    align-items: center;
    cursor: pointer;

    .body-1{
        color: $darkblue;

        &:hover{
            color: color('blue', 7);
        }
    }
}

.collapsible-text__body{
    max-height: 0;
    overflow: hidden;
    padding-left: 44px;
    margin: 0;
    transition: max-height .3s;

    &.open{
        max-height: 400px;
    }
}