table, .table{
    width: 100%;
    border-spacing: 0;
    text-align: left;
    margin: 10px 0;
}

tr, .table__row{
    background: $lightgrey;

    &:nth-of-type(even){
        background: $white;
    }

    &--heading{
        background: color('grey', 2);
    }
}

th, .table__heading, td, .tabel__cell{
    padding: 10px 5px;
    text-align: left;
}

.table__sortable{
    cursor: pointer;

    &:before{
        content: '\f0dc';
        font-family: 'Font Awesome 5 Free';
        margin-right: 5px;
    }

    &.asc:before{
        content: '\f0dd'; 
    }

    &.desc:before{
        content: '\f0de'; 
    }
}